	<div class="container">
    	<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-login">
					<div class="panel-heading">
						<div class="row">
							<div class="col-sm-6">
							<h3>	<a href="" class="active">Login</a>	</h3>					
							</div>
							
						</div>
						<hr>
					</div>
				
					<div class="panel-body">
						<div class="row">
							<div class="col-sm-12">
								<form action="/login" method="post" style="display: block;">
									<div class="form-group">
										<input type = "text" name = "username" ng-model ="username" placeholder = "Username(jack)" class="form-control" required> 
									</div>
									
									
									<div class="form-group">
										<input type="password" name="password" ng-model ="password" id="password" tabindex="2" class="form-control" placeholder="Password(secret)" required>
									</div>
									
									<div class="form-group">										
											<input type="submit"  tabindex="4" class="form-control btn btn-success" value="LOGIN">																				</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>